# mysql database configuration file
# based on example found here:
# http://martin-thoma.com/configuration-files-in-python/#tocAnchor-1-4

db_parameters = {
    'host': 'localhost',
    'user': 'user',
    'passwd': 'password',
    'db': 'dbName'
}
